
.DS_Store
TensorFlow In Practice/.DS_Store
JavaScript Course/.DS_Store

# ignore virtual environment files
/env

# ignore notebook checkpoints & python stuff
.python_history
.ipython
.jupyter
.ipynb_checkpoints
*.pyc

# ignore image files
test_images/*
